.topmarg{
    margin-top: 15px;
}
.cartbord{
    border: #ffffff;
    padding-top: 0px;
}
.blockleft{
    float: left;
}
.blockright{
    float: right;
    padding-bottom: 35px;
}
.modknopka{
    color: #ffffff;
    background-color: rgb(200, 199, 199);
    margin-left: 1px;
    margin-right: 1px;
}